<div class="yellow-back landback">
    <img class="ossos-white" />
    <header>
        <div class="logo-white logo"></div>
        <button type="button" class="cadastre">Cadastre-se</button>
        <button type="button">Login</button>
    </header>

    <h1>Encontre seu<br>Superpet</h1>

    <input class="search-land" type="text" placeholder="Cidade, Cor, Tamanho, Sexo" />
    <button class="src-land"><i class="fa fa-search"></i></button>

    <div class="row around-xs">
        <div class="col-xs-2">
            <div class="box">
                around
            </div>
        </div>

        <div class="col-xs-2">
            <div class="box">
                around
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box">
                around
            </div>
        </div>
    </div>
</div>


<div class="center-xs">
    <div class="row col-xs-10 col-xs-offset-1">
        <div class="col-md-2 col-sm-6 pet">
            <div class="box">Foto 1</div>
        </div>
        <div class="col-md-2 col-sm-6 pet">
            <div class="box">Foto 2</div>
        </div>
        <div class="col-md-2 col-sm-6 pet">
            <div class="box">Foto 3</div>
        </div>
        <div class="col-md-2 col-sm-6 pet">
            <div class="box">Foto 4</div>
        </div>
        <div class="col-md-2 col-sm-6 pet">
            <div class="box">Foto 5</div>
        </div>
        <div class="col-md-2 col-sm-6 pet">
            <div class="box">Foto 6</div>
        </div>
    </div> 
</div>