<div class="yellow-back landback">
    <img class="ossos-white" />
    <header>
        <div class="logo-white logo"></div>
        <button type="button" [routerLink]="['/cadastro-usuario']" class="cadastre">Cadastre-se</button>
        <button type="button" class="login">Login</button>
    </header>

	<!-- Responsive Navbar -->
	<button class="nav-res" [routerLink]="['/cadastro-usuario']">Cadastre-se</button>
	<button class="nav-res n-second">Login</button>

    <h1>Encontre seu<br>Superpet</h1>

    <input class="search-land" type="text" placeholder="Cidade, Cor, Tamanho, Sexo" />
    <button class="src-land"><i class="fa fa-search"></i></button>
</div>

<div class="gray-ground">
	<div class="row center-xs">
		<div class="col-md-3 col-xs-10 start-xs white-blocks">
			<div class="box">
				<div class="coracao-vermelho"></div>
				<h2>Adote</h2>
				<p>O Brasil possui cerca de 20 milhões de cãezinhos e 10 milhões de gatinhos abandonados precisando de um lar.</p>
			</div>
		</div>
		<div class="col-md-3 col-xs-10 start-xs">
			<div class="box">
				<div class="pegada-amarela"></div>
				<h2>Doe</h2>
				<p>O Brasil possui cerca de 20 milhões de cãezinhos e 10 milhões de gatinhos abandonados precisando de um lar.</p>
			</div>
		</div>
		<div class="col-md-3 col-xs-10 start-xs">
			<div class="box">
				<div class="user-azul"></div>
				<h2>Cadastre-se</h2>
				<p>O Brasil possui cerca de 20 milhões de cãezinhos e 10 milhões de gatinhos abandonados precisando de um lar.</p>
			</div>
		</div>
	</div>
</div>


<div class="center-xs pets-landing-page petland">
    <div class="row col-xs-10 col-xs-offset-1 photos">
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="box">
				<img src="../assets/images/pets/adocao_1.jpg" />
			</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="box">
				<img src="../assets/images/pets/adocao_2.jpg" />
			</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="box">
				<img src="../assets/images/pets/adocao_11.jpg" />
			</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="box">
				<img src="../assets/images/pets/adocao_4.jpg" />
			</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="box">
				<img src="../assets/images/pets/adocao_5.jpg" />
			</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="box">
				<img src="../assets/images/pets/adocao_6.jpg" />
			</div>
        </div>
    </div> 
</div>