<div class="yellow-back landback">
  <img class="ossos-white" />
  <header>
    <div class="logo-white logo"></div>
    <button type="button" class="cadastre">Cadastre-se</button>
    <button type="button">Login</button>
  </header>

  <h1>Encontre seu<br>Superpet</h1>

  <input class="search-land" type="text" placeholder="Cidade, Cor, Tamanho, Sexo" />
  <button class="src-land"><i class="fa fa-search"></i></button>


    <!--div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="col-md-2 col-sm-6 pet">
          teste
        </div>
        <div class="col-md-2 col-sm-6 pet"> teste</div>
        <div class="col-md-2 col-sm-6 pet"> teste</div>
        <div class="col-md-2 col-sm-6 pet"> teste</div>
        <div class="col-md-2 col-sm-6 pet"> teste</div>
        <div class="col-md-2 col-sm-6 pet"> teste</div>
      </div> 
  </div-->

  <div class="row around-xs">
    <div class="col-xs-2">
        <div class="box">
            around
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            around
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            around
        </div>
    </div>
</div>


</div>