<div class="signup-form">
  <img class="ossos-white" />
  <form>
    <h1>Faça seu Login</h1>
    <div>
      <label class="user-label">Username</label>
      <input type="text" name="login" required="required" class="user-input">
    </div>
    <br>
    <div class="senha-label">
      <label class="user-label">Senha</label>
      <input type="password" name="senha" required="required" class="user-input">
    </div>
    <br>
    <input type="submit" value="Entrar" />
    <br>
    <input class="realizar" type="button" [routerLink]="['/cadastro-usuario']" value="Realizar Cadastro" />
  </form>
</div>
