.detalhe-pet {
    .capa {
        height: 220px;
        background: $cinza1;
        position: relative;

        .container {
            height: 100%;
            padding: 0;
            position: relative;
            width: 80%;            
        }

        .nome {
            left: 0;
            position: absolute;
            bottom: 25px;
            background-color: transparent;
            top: 0px;
            height: 100%;
            width: auto;

            i{
                position: absolute;
                top: 110px;
                margin-left: 29px;
            }
            i:hover{
                color: $vermelho;
                cursor: pointer;
            }

            p{
                font-size: 30px; 
                margin-left: 180px;
                margin-top: -35px;
            }
        }
        img{
            width: 150px;
            margin-top: 35px;
            height: 150px;
            border-radius: 5px;
            border: 3px solid white;
        }   
    }


    .infos {
        position: relative;

        .container {
            height: 100%;
            padding: 50px 0;
            width: 80%;
        }

        .descricao-left {
            width: 60%;
            margin-right: 10%;
            float: left;
        }
        
        .descricao-right {
            width: 30%;
            float: left;
            margin-top: 30px;
        }

        @media (max-width: 767px) {
            .container {
                padding: 25px;
            }

            .descricao-left {
                width: 100%;
            }

            .descricao-right {
                width: 100%;
            }
        }
    }
    
    .btn-galeria {
        background: white;
        border: 1px solid $amarelo;
        border-radius: 7px;
        bottom: 25px;
        color: $amarelo;
        padding: 15px;
        position: absolute;
        right: 0;

        &:hover {
            background: $amarelo;
            color: white;
        }
    }

    .btn-quero-adotar {
        background: $amarelo;
        border: none;
        border-radius: 7px;
        color: white;
        padding: 15px;
        width: 100%;
    }
}
.fotos-pet-cadastro {
    img {
        margin: 0;
        padding: 0;
        width: 30%;
        margin-right: 4%;
    }
    img:last-child {
        margin-right: 0;
        float: right;
    }
    img:first-child {
        float: none;
    }

}
.animal{
    margin-top: -19px;
    margin-left: 55px;
}
.gen-ico{
    margin-top: -48px;
    margin-left: 150px;
}
.genero{
    margin-top: -20px;
    margin-left: 200px;
}
.descricao-left h2{margin-top: 30px;}

.an2{
    margin-top: -66px;
    margin-left: 100px;
}
.an3{
    margin-top: -84px;
    margin-left: 215px;
}
.an4{margin-top: 40px;}
.an5{
    margin-top: -15px;
    margin-left: 60px;
}
.an6{
    margin-left: 5px;
    margin-top: 30px;
}
.an7{
    margin-top: -20px;
    margin-left: 60px;
}

@media only screen 
and (max-width: 600px){
    .detalhe-pet .capa {
        height: 288px;
    }
    .detalhe-pet .btn-galeria {
        right: 100;
        width: 100%;
    }
}

@media only screen 
and (max-width: 944px){
    .descricao-left {
        margin-right: 4%;
        width: 50%;
    }
}