.detalhe-pet {
    .capa {
        height: 220px;
        background: $cinza1;
        position: relative;

        .container {
            height: 100%;
            padding: 0;
            position: relative;
            width: 80%;
            
        }

        .nome {
            left: 0;
            position: absolute;
            bottom: 25px;
        }        
    }


    .infos {
        position: relative;

        .container {
            height: 100%;
            padding: 50px 0;
            width: 80%;
        }

        .descricao-left {
            width: 60%;
            margin-right: 10%;
            float: left;
        }
        
        .descricao-right {
            width: 30%;
            float: left;
        }

        @media (max-width: 767px) {
            .container {
                padding: 25px;
            }

            .descricao-left {
                width: 100%;
            }

            .descricao-right {
                width: 100%;
            }
        }
    }
    
    .btn-galeria {
        background: white;
        border: 1px solid $amarelo;
        border-radius: 7px;
        bottom: 25px;
        color: $amarelo;
        padding: 15px;
        position: absolute;
        right: 0;

        &:hover {
            background: $amarelo;
            color: white;
        }
    }

    .btn-quero-adotar {
        background: $amarelo;
        border: none;
        border-radius: 7px;
        color: white;
        padding: 15px;
        width: 100%;
    }
}