.filter {
    border-bottom: 1px solid $cinza2;
    display: block;
    font-size: 0.9rem;
    padding: 25px;

    label {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 5px; 
    }

    input[type="text"] {
        height: 30px;
        width: 100%;
    }
    @media (max-width: 654px) {
        .filter-header{padding-top: 30px;}
    }
    @media (max-width: 635px) {
        display: none;
    }
}

.search {

    input {
        border: none;
        border-bottom: 1px solid $cinza2; 
        display: block;
        height: 40px;
        padding: 10px 20px;
        width: calc(100% - 40px);
    }
}