body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

button{font-size: 20px;}
button:hover{cursor: pointer;}

.logo-white {
	background: url('../images/icones.png') no-repeat -8px -360px;
	width: 178px;
	height: 63px;
}
.logo-colorido{
	background: url('../images/icones.png') no-repeat -250px -360px;
	width: 178px;
	height: 63px;
}
.pegada-amarela{
	background: url('imgs/icones.png') no-repeat -568px -86px;
	width: 76px;
	height: 61px;
}
.coracao-vermelho{
	background: url('imgs/icones.png') no-repeat -573px -172px;
	width: 67px;
	height: 59px;
}
.user-azul{
	background: url('imgs/icones.png') no-repeat -573px -1px;
	width: 65px;
	height: 59px;
}

.ossos-white{
    background-image: url(../images/bg-osso.png);
    height: 750px;
    position: absolute;
    width: 100%;
    opacity: 0.2;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}