body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: $cinza4;
}

a, p, span, div, label {
	color: $cinza4;
}

a {
    text-decoration: none;
}

input[type="text"], select, textarea {
    background: white;
    border: 1px solid $cinza2;
    border-radius: 5px;
}

.cadastro {
	min-height: 800px;

	input, select, textarea {
		padding: 0;
		width: 100%;
		margin-bottom: 15px;
		margin-top: 5px;
	}

	input[type="file"] {
		background: white;
    	border: 1px dashed $cinza2;
		height: 100px;
	}

	input, select {
		height: 35px;
	}

	select {
		height: 37px;
	}
}

button{font-size: 20px;}
button:hover{cursor: pointer;}

.bg-cinza {
	background: $cinza1;
}

.logo-white {
	background: url('../images/icones.png') no-repeat -8px -360px;
	width: 178px;
	height: 63px;
}
.logo-colorido{
	background: url('../images/icones.png') no-repeat -250px -360px;
	width: 178px;
	height: 63px;
}
.pegada-amarela{
	background: url('../images/icones.png') no-repeat -568px -86px;
	width: 76px;
	height: 61px;
}
.coracao-vermelho{
	background: url('../images/icones.png') no-repeat -573px -172px;
	width: 67px;
	height: 59px;
}
.user-azul{
	background: url('../images/icones.png') no-repeat -573px -1px;
	width: 65px;
	height: 59px;
}
.pata-cinza {
	background: url('../images/icones.png') no-repeat 0 -113px;
	width: 41px;
	height: 34px;
}
.osso-cinza {
	background: url('../images/icones.png') no-repeat 0 -113px;
	width: 41px;
	height: 34px;
}
.macho-cinza {
	background: url('../images/icones.png') no-repeat -64px -169px;
	width: 34px;
	height: 34px;
}
.femea-cinza {
	background: url('../images/icones.png') no-repeat -8px -166px;
	width: 27px;
	height: 40px;
}
.pequeno-cinza {
	background: url('../images/icones.png') no-repeat -239px -183px;
	width: 67px;
	height: 48px;
}
.medio-cinza {
	background: url('../images/icones.png') no-repeat -335px -164px;
	width: 86px;
	height: 67px;
}
.grande-cinza {
	background: url('../images/icones.png') no-repeat -443px -148px;
	width: 97px;
	height: 83px;
}
.pequeno-amarelo {
	background: url('../images/icones.png') no-repeat -239px -278px;
	width: 67px;
	height: 49px;
}
.medio-amarelo {
	background: url('../images/icones.png') no-repeat -335px -259px;
	width: 86px;
	height: 68px;
}
.grande-amarelo {
	background: url('../images/icones.png') no-repeat -443px -244px;
	width: 97px;
	height: 83px;
}
.boneco-cinza {
	background: url('../images/icones.png') no-repeat -126px -170px;
	width: 35px;
	height: 32px;
}
.local-cinza {
	background: url('../images/icones.png') no-repeat -181px -169px;
	width: 28px;
	height: 37px;
}
.ossos-white{
    background-image: url(../images/bg-osso.png);
    height: 750px;
    position: absolute;
    width: 100%;
    opacity: 0.2;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-add {
  @include linear-gradient(left top, $rosa, $laranja);
  border-radius: 50%;
  border: none;
  bottom: 35px;
  box-shadow: rgba(240,145,255,0.5) 2px 2px 15px;
  color: white;
  display: block;
  height: 50px;
  padding: 10px;
  position: fixed;
  right: 35px;
  width: 50px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

//Formulários
.signup-form{
    @include linear-gradient(left top, $rosa, $laranja);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28d00', endColorstr='#f2ca29', GradientType=1 );
    height: 100%;
    width: 100%;
    position: absolute;

    .ossos-white{
        height: 100% !important;
    }

    form{
        position: absolute;
        z-index: 50;
        margin: 0 auto;
        left: 0;
        right: 0;
        max-width: 800px;
        background-color: #ffffff;
        top: 100px;
        border-radius: 5px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17);
    }
    h1{
        color: $laranja;
        font-size: 30px;
        margin-top: 50px;
        text-align: left;
        margin-left: 30px;
        margin-bottom: 70px;
    }
    .user-label{
        height: 35px;
        width: 100%;
        font-size: 18px;
        margin-left: 30px;
    }
    .user-input{
        margin-top: 10px;
        margin-left: 25px;
        width: calc(100% - 50px);
        height: 45px;
        border-radius: 5px;
        border: 1px solid $cinza2;

        &:focus{
            background-color: $cinza1;
        }
    }
    .senha-label{margin-top: 15px;}

    input[type="submit"]
    {
        margin-top: 30px;
        margin-left: 25px;
        width: calc(100% - 50px);
        height: 60px;
        font-size: 20px;
        background-color: white;
        color: $laranja;
        border: 1px solid $laranja;
        border-radius: 5px;
    }
    input[type="submit"]:hover
    {
        cursor: pointer;
        background-color: $laranja;
        color: white;
    }
    .realizar{
        margin-top: 15px;
        margin-left: 25px;
        margin-bottom: 20px;
        width: calc(100% - 50px);
        font-size: 17px;
        background-color: white;
        color: $rosa;
        border: 0px; 
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}