.header-default {
    border-bottom: 1px solid $cinza1; 
    display: block;
    
    .logo {
        margin-left: 30px;
        margin-top: 17px;
        float: left;
        margin-right: 25px;
        position: relative;    
    }

    @media (max-width: 654px) {
        height: auto;
        margin-bottom: 0;
        
        .logo {
            float: none;
            margin-bottom: 18px;
        }
    }

    .last{
        @media (max-width: 654px) {
            border-bottom: 1px solid #fafafa;
        }
    }

    a {
        border: 0px;
        color: $cinza4;
        width: auto;
        background-color: transparent;
        padding: 5px;
        margin-top: 45px;
        margin-right: 15px;

        &.left {
            float: left;
            
        }

        &.right {
            float: right;
        }


        @media (max-width: 654px) {
            background-color: white;
            border-top: 1px solid #f9f9f9;
            display: block;
            margin: 0;
            padding: 15px 0;
            text-align: center;
            width: 100%;


            &.left, &.right {
                float: none;
            }
        }
    }
}