$vermelho: #de0000;
$rosa: #fc6180;
$laranja: #fca72b;
$amarelo: #ffb64d;
$verde-claro: #d2f5e6;
$verde: #00a75c;
$azul-claro: #daecff;
$azul: #0082d7;
$roxo: #6464d2;
$cinza0: #fafafb;
$cinza1: #f9f9f9;
$cinza2: #ededed;
$cinza3: #A9A9A9;
$cinza4: #333333;

$hover: #f7f7f5;