body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #333333; }

a, p, span, div, label {
  color: #333333; }

a {
  text-decoration: none; }

input[type="text"], select, textarea {
  background: white;
  border: 1px solid #ededed;
  border-radius: 5px; }

.cadastro {
  min-height: 800px; }
  .cadastro input, .cadastro select, .cadastro textarea {
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px; }
  .cadastro input[type="file"] {
    background: white;
    border: 1px dashed #ededed;
    height: 100px; }
  .cadastro input, .cadastro select {
    height: 35px; }
  .cadastro select {
    height: 37px; }

button {
  font-size: 20px; }

button:hover {
  cursor: pointer; }

.bg-cinza {
  background: #f9f9f9; }

.logo-white {
  background: url("../images/icones.png") no-repeat -8px -360px;
  width: 178px;
  height: 63px; }

.logo-colorido {
  background: url("../images/icones.png") no-repeat -250px -360px;
  width: 178px;
  height: 63px; }

.pegada-amarela {
  background: url("../images/icones.png") no-repeat -568px -86px;
  width: 76px;
  height: 61px; }

.coracao-vermelho {
  background: url("../images/icones.png") no-repeat -573px -172px;
  width: 67px;
  height: 59px; }

.user-azul {
  background: url("../images/icones.png") no-repeat -573px -1px;
  width: 65px;
  height: 59px; }

.pata-cinza {
  background: url("../images/icones.png") no-repeat 0 -113px;
  width: 41px;
  height: 34px; }

.osso-cinza {
  background: url("../images/icones.png") no-repeat 0 -113px;
  width: 41px;
  height: 34px; }

.macho-cinza {
  background: url("../images/icones.png") no-repeat -64px -169px;
  width: 34px;
  height: 34px; }

.femea-cinza {
  background: url("../images/icones.png") no-repeat -8px -166px;
  width: 27px;
  height: 40px; }

.pequeno-cinza {
  background: url("../images/icones.png") no-repeat -239px -183px;
  width: 67px;
  height: 48px; }

.medio-cinza {
  background: url("../images/icones.png") no-repeat -335px -164px;
  width: 86px;
  height: 67px; }

.grande-cinza {
  background: url("../images/icones.png") no-repeat -443px -148px;
  width: 97px;
  height: 83px; }

.pequeno-amarelo {
  background: url("../images/icones.png") no-repeat -239px -278px;
  width: 67px;
  height: 49px; }

.medio-amarelo {
  background: url("../images/icones.png") no-repeat -335px -259px;
  width: 86px;
  height: 68px; }

.grande-amarelo {
  background: url("../images/icones.png") no-repeat -443px -244px;
  width: 97px;
  height: 83px; }

.boneco-cinza {
  background: url("../images/icones.png") no-repeat -126px -170px;
  width: 35px;
  height: 32px; }

.local-cinza {
  background: url("../images/icones.png") no-repeat -181px -169px;
  width: 28px;
  height: 37px; }

.ossos-white {
  background-image: url(../images/bg-osso.png);
  height: 750px;
  position: absolute;
  width: 100%;
  opacity: 0.2; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.foto-container {
  width: calc(25% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 90px;
  float: left; }

.main {
  height: 350px;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #fca72b; }
  .main img {
    width: 100%;
    height: 250px;
    cursor: pointer; }
  .main .nome {
    margin-left: 10px;
    font-weight: bold; }
    .main .nome span {
      cursor: pointer; }
      .main .nome span:hover {
        color: #ffb64d; }
  .main .caracteristicas {
    margin-left: 10px;
    color: #333333; }
  .main .coracao-cinza {
    margin-right: 10px; }

.coracao-cinza {
  width: 34px;
  background-color: transparent;
  height: 30px;
  border: 0px;
  float: right;
  margin-top: -10px; }
  .coracao-cinza:hover i {
    color: #de0000; }

.list-pet-view {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  position: absolute;
  padding-bottom: 80px; }

.edit-btn {
  background: white;
  border: 1px solid #ffb64d;
  color: #ffb64d;
  border-radius: 7px;
  margin-top: 30px;
  width: 100%;
  padding: 15px; }
  .edit-btn:hover {
    background: #ffb64d;
    color: white; }

@media (max-width: 1200px) {
  .main {
    height: 300px; }
    .main img {
      height: 200px; } }
@media (max-width: 990px) {
  .foto-container {
    width: 28%; }

  .main {
    height: 300px; }
    .main img {
      height: 200px; } }
@media (max-width: 767px) {
  .foto-container {
    width: 44%; }

  .main {
    height: 400px; }
    .main img {
      height: 300px; } }
@media (max-width: 697px) {
  .foto-container {
    width: 42%; } }
@media (max-width: 602px) {
  .foto-container {
    width: 40%; }

  .main {
    height: 300px; }
    .main img {
      height: 200px; } }
@media (max-width: 490px) {
  .foto-container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px; }

  .main {
    height: 500px; }
    .main img {
      height: 400px; } }
@media (max-width: 420px) {
  .main {
    height: 425px; }
    .main img {
      height: 325px; } }
@media (max-width: 350px) {
  .main {
    height: 375px; }
    .main img {
      height: 275px; } }
.yellow-back {
  background: #fc6180;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fc6180, #fca72b);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left top, #fc6180, #fca72b);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left top, #fc6180, #fca72b);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(left top, #fc6180, #fca72b);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28d00', endColorstr='#f2ca29', GradientType=1 );
  height: 750px; }

header {
  background-color: transparent;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid white; }
  header button {
    right: 0;
    width: auto;
    background-color: transparent;
    padding: 5px;
    margin-top: 43px;
    border: 0px;
    margin-right: 15px;
    color: white;
    position: absolute; }
    @media only screen and (max-width: 454px) {
      header button {
        display: none; } }

.cadastre {
  margin-right: 80px; }

.logo {
  margin-left: 30px;
  margin-top: 17px;
  position: absolute; }

h1 {
  text-align: center;
  margin-top: 150px;
  color: white;
  font-size: 60px; }

.search-land {
  height: 45px;
  border-radius: 8px;
  padding: 8px;
  border: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px; }

.src-land {
  position: relative;
  margin-right: 14%;
  float: right;
  height: 60px;
  width: 50px;
  border: 0px;
  background-color: transparent;
  color: #fc6180; }
  @media only screen and (max-width: 420px) {
    .src-land {
      margin-right: 7%; } }

.petland {
  margin-top: -570px; }
  @media only screen and (max-width: 1630px) {
    .petland {
      margin-top: -540px; } }
  @media only screen and (max-width: 991px) {
    .petland {
      margin-top: -1300px; } }
  @media only screen and (max-width: 850px) {
    .petland {
      margin-top: -1250px; } }
  @media only screen and (max-width: 767px) {
    .petland {
      margin-top: -1600px; } }
  @media only screen and (max-width: 600px) {
    .petland {
      margin-top: -1500px; } }
  @media only screen and (max-width: 500px) {
    .petland {
      margin-top: -1400px; } }
  @media only screen and (max-width: 400px) {
    .petland {
      margin-top: -1250px; } }
  @media only screen and (max-width: 387px) {
    .petland {
      margin-top: -1300px; } }
  @media only screen and (min-width: 2288px) {
    .petland {
      margin-top: -624px; } }

.pets-landing-page img {
  height: 100%;
  width: 100%;
  z-index: 40;
  position: relative; }

.photos div {
  padding-left: 0px;
  padding-right: 0px; }

.gray-ground {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 50px; }
  .gray-ground .box {
    margin-top: 10em;
    min-height: 100px;
    border-radius: 5px;
    background-color: white;
    height: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px; }
    @media only screen and (max-width: 991px) {
      .gray-ground .box {
        margin-top: 2em; } }
  @media only screen and (max-width: 991px) {
    .gray-ground .white-blocks {
      margin-top: 23em; } }
  @media only screen and (max-width: 850px) {
    .gray-ground .white-blocks {
      margin-top: 20em; } }
  @media only screen and (max-width: 767px) {
    .gray-ground .white-blocks {
      margin-top: 45em; } }
  @media only screen and (max-width: 600px) {
    .gray-ground .white-blocks {
      margin-top: 40em; } }
  @media only screen and (max-width: 500px) {
    .gray-ground .white-blocks {
      margin-top: 25em; } }
  @media only screen and (max-width: 400px) {
    .gray-ground .white-blocks {
      margin-top: 15em; } }
  @media only screen and (max-width: 387px) {
    .gray-ground .white-blocks {
      margin-top: 18em; } }

.nav-res {
  height: 55px;
  position: absolute;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.19);
  border: 0px;
  text-align: center;
  color: white;
  display: none;
  border-bottom: 1px solid white; }
  @media only screen and (max-width: 454px) {
    .nav-res {
      display: block; } }

.n-second {
  margin-top: 55px; }

.detalhe-pet .capa {
  height: 220px;
  background: #f9f9f9;
  position: relative; }
  .detalhe-pet .capa .container {
    height: 100%;
    padding: 0;
    position: relative;
    width: 80%; }
  .detalhe-pet .capa .nome {
    left: 0;
    position: absolute;
    bottom: 25px;
    background-color: transparent;
    top: 0px;
    height: 100%;
    width: auto; }
    .detalhe-pet .capa .nome i {
      position: absolute;
      top: 110px;
      margin-left: 29px; }
    .detalhe-pet .capa .nome i:hover {
      color: #de0000;
      cursor: pointer; }
    .detalhe-pet .capa .nome p {
      margin-left: 180px;
      margin-top: -22px; }
  .detalhe-pet .capa img {
    width: 150px;
    margin-top: 35px;
    height: 150px;
    border-radius: 5px;
    border: 3px solid white; }
.detalhe-pet .infos {
  position: relative; }
  .detalhe-pet .infos .container {
    height: 100%;
    padding: 50px 0;
    width: 80%; }
  .detalhe-pet .infos .descricao-left {
    width: 60%;
    margin-right: 10%;
    float: left; }
  .detalhe-pet .infos .descricao-right {
    width: 30%;
    float: left;
    margin-top: 30px; }
  @media (max-width: 767px) {
    .detalhe-pet .infos .container {
      padding: 25px; }
    .detalhe-pet .infos .descricao-left {
      width: 100%; }
    .detalhe-pet .infos .descricao-right {
      width: 100%; } }
.detalhe-pet .btn-galeria {
  background: white;
  border: 1px solid #ffb64d;
  border-radius: 7px;
  bottom: 25px;
  color: #ffb64d;
  padding: 15px;
  position: absolute;
  right: 0; }
  .detalhe-pet .btn-galeria:hover {
    background: #ffb64d;
    color: white; }
.detalhe-pet .btn-quero-adotar {
  background: #ffb64d;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 15px;
  width: 100%; }

.animal {
  margin-top: -19px;
  margin-left: 55px; }

.gen-ico {
  margin-top: -48px;
  margin-left: 150px; }

.genero {
  margin-top: -20px;
  margin-left: 200px; }

.descricao-left h2 {
  margin-top: 30px; }

.an2 {
  margin-top: -66px;
  margin-left: 100px; }

.an3 {
  margin-top: -84px;
  margin-left: 215px; }

.an4 {
  margin-top: 40px; }

.an5 {
  margin-top: -15px;
  margin-left: 60px; }

.an6 {
  margin-left: 5px;
  margin-top: 30px; }

.an7 {
  margin-top: -20px;
  margin-left: 60px; }

@media only screen and (max-width: 600px) {
  .detalhe-pet .capa {
    height: 288px; }

  .detalhe-pet .btn-galeria {
    right: 100;
    width: 100%; } }
@media only screen and (max-width: 944px) {
  .descricao-left {
    margin-right: 4%;
    width: 50%; } }
.header-default {
  border-bottom: 1px solid #f9f9f9;
  display: block; }
  .header-default .logo {
    margin-left: 30px;
    margin-top: 17px;
    float: left;
    margin-right: 25px;
    position: relative; }
  @media (max-width: 654px) {
    .header-default {
      height: auto;
      margin-bottom: 0; }
      .header-default .logo {
        float: none;
        margin-bottom: 18px; } }
  @media (max-width: 654px) {
    .header-default .last {
      border-bottom: 1px solid #fafafa; } }
  .header-default a {
    border: 0px;
    color: #333333;
    width: auto;
    background-color: transparent;
    padding: 5px;
    margin-top: 45px;
    margin-right: 15px; }
    .header-default a.left {
      float: left; }
    .header-default a.right {
      float: right; }
    @media (max-width: 654px) {
      .header-default a {
        background-color: white;
        border-top: 1px solid #f9f9f9;
        display: block;
        margin: 0;
        padding: 15px 0;
        text-align: center;
        width: 100%; }
        .header-default a.left, .header-default a.right {
          float: none; } }

.filter {
  border-bottom: 1px solid #ededed;
  display: block;
  font-size: 0.9rem;
  padding: 25px; }
  .filter label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px; }
  .filter input[type="text"] {
    height: 30px;
    width: 100%; }
  @media (max-width: 654px) {
    .filter .filter-header {
      padding-top: 30px; } }
  @media (max-width: 635px) {
    .filter {
      display: none; } }

.search input {
  border: none;
  border-bottom: 1px solid #ededed;
  display: block;
  height: 40px;
  padding: 10px 20px;
  width: calc(100% - 40px); }

.signup-form {
  background: #fc6180;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fc6180, #fca72b);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left top, #fc6180, #fca72b);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left top, #fc6180, #fca72b);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(left top, #fc6180, #fca72b);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28d00', endColorstr='#f2ca29', GradientType=1 );
  height: 100%;
  width: 100%;
  position: absolute; }
  .signup-form .ossos-white {
    height: 100% !important; }
  .signup-form form {
    position: absolute;
    z-index: 50;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 800px;
    background-color: #ffffff;
    top: 100px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17); }
  .signup-form h1 {
    color: #fca72b;
    font-size: 30px;
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 70px; }
  .signup-form .user-label {
    height: 35px;
    width: 100%;
    font-size: 18px;
    margin-left: 30px; }
  .signup-form .user-input {
    margin-top: 10px;
    margin-left: 25px;
    width: calc(100% - 50px);
    height: 45px;
    border-radius: 5px;
    border: 1px solid #ededed; }
    .signup-form .user-input:focus {
      background-color: #f9f9f9; }
  .signup-form .senha-label {
    margin-top: 15px; }

input[type="submit"] {
  margin-top: 30px;
  margin-left: 25px;
  width: calc(100% - 50px);
  height: 60px;
  font-size: 20px;
  background-color: white;
  color: #fca72b;
  border: 1px solid #fca72b;
  border-radius: 5px; }

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #fca72b;
  color: white; }

.realizar {
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 20px;
  width: calc(100% - 50px);
  font-size: 17px;
  background-color: white;
  color: #fc6180;
  border: 0px; }
  .realizar:hover {
    cursor: pointer;
    text-decoration: underline; }

/*# sourceMappingURL=estilo.css.map */
