body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #333333; }

a, p, span, div, label {
  color: #333333; }

a {
  text-decoration: none; }

input[type="text"], select, textarea {
  background: white;
  border: 1px solid #ededed;
  border-radius: 5px; }

.cadastro {
  min-height: 800px; }
  .cadastro input, .cadastro select, .cadastro textarea {
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px; }
  .cadastro input, .cadastro select {
    height: 35px; }
  .cadastro select {
    height: 37px; }

button {
  font-size: 20px; }

button:hover {
  cursor: pointer; }

.bg-cinza {
  background: #f9f9f9; }

.logo-white {
  background: url("../images/icones.png") no-repeat -8px -360px;
  width: 178px;
  height: 63px; }

.logo-colorido {
  background: url("../images/icones.png") no-repeat -250px -360px;
  width: 178px;
  height: 63px; }

.pegada-amarela {
  background: url("../images/icones.png") no-repeat -568px -86px;
  width: 76px;
  height: 61px; }

.coracao-vermelho {
  background: url("../images/icones.png") no-repeat -573px -172px;
  width: 67px;
  height: 59px; }

.user-azul {
  background: url("../images/icones.png") no-repeat -573px -1px;
  width: 65px;
  height: 59px; }

.ossos-white {
  background-image: url(../images/bg-osso.png);
  height: 750px;
  position: absolute;
  width: 100%;
  opacity: 0.2; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.yellow-back {
  background: #fc6180;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fc6180, #fca72b);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left top, #fc6180, #fca72b);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left top, #fc6180, #fca72b);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(left top, #fc6180, #fca72b);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28d00', endColorstr='#f2ca29', GradientType=1 );
  height: 750px; }

header {
  background-color: transparent;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid white; }
  header button {
    right: 0;
    width: auto;
    background-color: transparent;
    padding: 5px;
    margin-top: 43px;
    border: 0px;
    margin-right: 15px;
    color: white;
    position: absolute; }
    @media only screen and (max-width: 454px) {
      header button {
        display: none; } }

.cadastre {
  margin-right: 80px; }

.logo {
  margin-left: 30px;
  margin-top: 17px;
  position: absolute; }

h1 {
  text-align: center;
  margin-top: 150px;
  color: white;
  font-size: 60px; }

.search-land {
  height: 45px;
  border-radius: 8px;
  padding: 8px;
  border: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px; }

.src-land {
  position: relative;
  margin-right: 14%;
  float: right;
  height: 60px;
  width: 50px;
  border: 0px;
  background-color: transparent;
  color: #fc6180; }
  @media only screen and (max-width: 420px) {
    .src-land {
      margin-right: 7%; } }

.petland {
  margin-top: -570px; }
  @media only screen and (max-width: 1630px) {
    .petland {
      margin-top: -540px; } }
  @media only screen and (max-width: 991px) {
    .petland {
      margin-top: -1300px; } }
  @media only screen and (max-width: 850px) {
    .petland {
      margin-top: -1250px; } }
  @media only screen and (max-width: 767px) {
    .petland {
      margin-top: -1600px; } }
  @media only screen and (max-width: 600px) {
    .petland {
      margin-top: -1500px; } }
  @media only screen and (max-width: 500px) {
    .petland {
      margin-top: -1400px; } }
  @media only screen and (max-width: 400px) {
    .petland {
      margin-top: -1250px; } }
  @media only screen and (max-width: 387px) {
    .petland {
      margin-top: -1300px; } }
  @media only screen and (min-width: 2288px) {
    .petland {
      margin-top: -624px; } }

.pets-landing-page img {
  height: 100%;
  width: 100%;
  z-index: 40;
  position: relative; }

.photos div {
  padding-left: 0px;
  padding-right: 0px; }

.gray-ground {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 50px; }
  .gray-ground .box {
    margin-top: 10em;
    min-height: 100px;
    border-radius: 5px;
    background-color: white;
    height: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px; }
    @media only screen and (max-width: 991px) {
      .gray-ground .box {
        margin-top: 2em; } }
  @media only screen and (max-width: 991px) {
    .gray-ground .white-blocks {
      margin-top: 23em; } }
  @media only screen and (max-width: 850px) {
    .gray-ground .white-blocks {
      margin-top: 20em; } }
  @media only screen and (max-width: 767px) {
    .gray-ground .white-blocks {
      margin-top: 45em; } }
  @media only screen and (max-width: 600px) {
    .gray-ground .white-blocks {
      margin-top: 40em; } }
  @media only screen and (max-width: 500px) {
    .gray-ground .white-blocks {
      margin-top: 25em; } }
  @media only screen and (max-width: 400px) {
    .gray-ground .white-blocks {
      margin-top: 15em; } }
  @media only screen and (max-width: 387px) {
    .gray-ground .white-blocks {
      margin-top: 18em; } }

.nav-res {
  height: 55px;
  position: absolute;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.19);
  border: 0px;
  text-align: center;
  color: white;
  display: none;
  border-bottom: 1px solid white; }
  @media only screen and (max-width: 454px) {
    .nav-res {
      display: block; } }

.n-second {
  margin-top: 55px; }

.header-default {
  border-bottom: 1px solid #f9f9f9;
  display: block; }
  .header-default .logo {
    margin-left: 30px;
    margin-top: 17px;
    float: left;
    margin-right: 25px;
    position: relative; }
    @media (max-width: 654px) {
      .header-default .logo {
        margin-bottom: 20px; } }
  @media (max-width: 654px) {
    .header-default .last {
      border-bottom: 1px solid #fafafa; } }
  .header-default a {
    border: 0px;
    color: #333333;
    width: auto;
    background-color: transparent;
    padding: 5px;
    margin-top: 45px;
    margin-right: 15px; }
    @media (max-width: 654px) {
      .header-default a {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
        padding: 0px;
        height: 35px;
        padding-top: 18px;
        background-color: white;
        border-top: 1px solid #f9f9f9; } }
    .header-default a.left {
      float: left; }
    .header-default a.right {
      float: right; }

.filter {
  border-bottom: 1px solid #ededed;
  display: block;
  font-size: 0.9rem;
  padding: 25px; }
  .filter label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px; }
  .filter input[type="text"] {
    height: 30px;
    width: 100%; }

.search input {
  border: none;
  border-bottom: 1px solid #ededed;
  display: block;
  height: 40px;
  padding: 10px;
  width: 100%; }

/*# sourceMappingURL=estilo.css.map */
