<form>
    <div>
      <label>Nome: </label>
      <input name="nome" id="nome" required/>
    </div>
    <div>
      <label>Login: </label>
      <input name="login" id="login" required/>
    </div>
    <div>
      <label>Senha: </label>
      <input type="password" name="senha" id="senha" required/>
    </div>
    <div>
      <label>E-mail: </label>
      <input name="email" id="email" required/>
    </div>
    <div>
      <label>Telefone: </label>
      <input name="tel" id="tel" required/>
    </div>
    <div>
      <label>Facebook: </label>
      <input name="facebook" id="facebook" required/>
    </div>
    <div>
      <label>Cep: </label>
      <input name="cep" id="cep" required/>
    </div>
    <div>
      <label>Cidade: </label>
      <input name="cidade" id="cidade" required/>
    </div>
    <div>
      <label>Estado: </label>
      <input name="estado" id="estado" required/>
    </div>


</form>