<section class="filter">
	<div class="row col-xs-10 col-xs-offset-1 filter-header">
		<div class="col-sm-2 col-xs-3">
			<label>Tipo</label>
			<div><input type="checkbox"> Cachorro</div>
			<div><input type="checkbox"> Gato</div>
		</div>

		<div class="col-sm-2 col-xs-3">
			<label>Porte</label>
			<div><input type="checkbox"> Pequeno</div>
			<div><input type="checkbox"> Médio</div>
			<div><input type="checkbox"> Grande</div>
		</div>

		<div class="col-sm-2 col-xs-3">
			<label>Sexo</label>
			<div><input type="checkbox"> Fêmea</div>
			<div><input type="checkbox"> Macho</div>
		</div>

		<div class="col-sm-2 col-xs-3">
			<label>Idade</label>
			<div><input type="checkbox"> Filhote</div>
			<div><input type="checkbox"> Jovem</div>
			<div><input type="checkbox"> Adulto</div>
		</div>

		<div class="col-sm-4 col-xs-12">
			<label>Localização</label>
			<div><input type="text" placeholder=""></div>
		</div>
	</div>
</section>

<section class="search">
	<input type="text" class="search" placeholder="Buscar um Super Pet">
</section>