<div class="main">
  <img src="../assets/images/pets/adocao_11.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>


<div class="main">
  <img src="../assets/images/pets/adocao_4.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>


<div class="main">
  <img src="../assets/images/pets/adocao_11.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>


<div class="main">
  <img src="../assets/images/pets/adocao_4.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>


<div class="main">
  <img src="../assets/images/pets/adocao_11.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>

<div class="main">
  <img src="../assets/images/pets/adocao_4.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>

<div class="main">
  <img src="../assets/images/pets/adocao_11.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>

<div class="main">
  <img src="../assets/images/pets/adocao_4.jpg" />
  <p class="nome">Trapinho
    <button class="coracao-cinza">
      <i class="fa fa-heart-o"></i>
    </button>
  </p>      
  <p class="caracteristicas">Macho, porte médio...</p>
</div>
