<section class="detalhe-pet">
	<div class="capa">
		<div class="container">
			<div class="nome">
				<img src="../assets/images/pets/adocao_14.jpg" />
				
				<i class="fa fa-heart-o fa-3x"></i>
				<p>Nome do Pet</p>
			</div>
			
			<button class="btn-galeria" type="button"> Galeria</button>
		</div>

	</div>
	
	<div class="infos">
		<div class="container">
			<div class="descricao-left">

				<div class="pata-cinza"></div><p class="animal">Cachorro</p>
				<div class="gen-ico macho-cinza"></div><p class="genero">Macho</p>
				<h2>Descrição:</h2>
				<p>
					no no no no no no no no no no no no no no no no no no no no no no no no no no no 
					no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no 
					no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no 
					no no no no no no no no no no no no no no no no no no no no no no no no no no no no no no
				</p>
			</div>
			
			<div class="descricao-right">

				<div class="pequeno-cinza an1"></div>
				<div class="medio-cinza an2"></div>
				<div class="grande-cinza an3"></div>

				<div class="boneco-cinza an4"></div>
				<p class="an5">Nome do Cuidador</p>

				<div class="local-cinza an6"></div>
				<p class="an7">Localização do cuidador</p>
				
				<button type="button" class="btn-quero-adotar">Quero adotar</button>
			</div>
		</div>

	</div>

</section>
