<form action="#" method="post" accept-charset="utf-8" (submit)="salvar($event)">
	<section class="bg-cinza cadastro">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<div class="row col-xs-12 center-xs">
				<h3>Cadastro Pet</h3>
			</div>

			<div class="row">
				<div class="col-sm-8 col-xs-12">
					<label for="nome">Nome</label>
					<input name="nome" id="nome" [(ngModel)]="pet.nome" type="text">
				</div>
				
				<div class="col-sm-4 col-xs-12">
					<label for="tipo">Tipo</label>
					<select name="tipo" id="tipo" [(ngModel)]="pet.tipo.id">
						<option [value]="pet.tipo.id == null ? pet.tipo.id:false">Selecione</option>
						<option value="1"> Cachorro</option>
						<option value="2"> Gato</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<label for="descricao">Descrição</label>
					<textarea name="descricao" id="descricao" cols="30" rows="7" [(ngModel)]="pet.descricao"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<label for="porte">Porte</label>
					<select name="porte" id="porte" [(ngModel)]="pet.porte.id">
						<option [value]="pet.porte.id == null ? pet.porte.id:false">Selecione</option>
						<option value="1"> Pequeno</option>
						<option value="2"> Médio</option>
						<option value="3"> Grande</option>
					</select>
				</div>
				<div class="col-sm-4 col-xs-12">
					<label for="sexo">Sexo</label>
					<select name="sexo" id="sexo" [(ngModel)]="pet.sexo.id">
						<option [value]="pet.sexo.id == null ? pet.sexo.id:false">Selecione</option>
						<option value="1"> Macho</option>
						<option value="2"> Fêmea</option>
					</select>
				</div>
				<div class="col-sm-4 col-xs-12">
					<label for="idade">Idade</label>
					<select name="idade" id="idade" [(ngModel)]="pet.idade.id">
						<option [value]="pet.idade.id == null ? pet.idade.id:false">Selecione</option>
						<option value="1"> Filhote</option>
						<option value="2"> Jovem</option>
						<option value="2"> Adulto</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<label for="">Selecione as fotos</label>
					<input type="file" multiple>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12" *ngFor="let foto of pet.fotos">
					<div class="fotos-pet-cadastro">
						<img src="data:image/jpeg;base64,{{ foto.foto }}"/>
					</div>
				</div>
			</div>
			<div>
				<input type="submit" value="Salvar"/>
			</div>
		</div>
	</section>
</form>